/*path {
  fill: none;
  stroke: #058da3;
  stroke-width: 4 ;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

circle {
  fill: none;
  stroke: #058da3;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}*/


.st0 {
  stroke: #f13451;
  stroke-width: 12;
}



.zero{
  fill:#ffffff;
  stroke-dasharray: 2420;
  animation: write1 3s infinite linear;
}

@keyframes write1 {
    0% {
            stroke: #f13451;

      fill: #ffffff;
        stroke-dashoffset: 2420;
      
    }
    80% {
            stroke: #ffffff;

        stroke-dashoffset: 0;
    }
  100% {
    
        fill: #f13451;
    }
}

.one{
  fill:none;
  stroke-dasharray: 900;
  animation: write2 3s infinite linear;
}

@keyframes write2 {
    0% {
      stroke: #f13451;
        stroke-dashoffset: 900;
      
    }
    100% {
      stroke: #ffffff;
        stroke-dashoffset: 0;
    }
}

.two{
  fill:none;
  stroke-dasharray: 1800;
  animation: write3 3s infinite linear;
}

@keyframes write3 {
    0% {
      stroke: #f13451;
        stroke-dashoffset: 1800;
      
    }
    100% {
      stroke: #ffffff;
        stroke-dashoffset: 0;
    }
}



