#rect4489, #rect4491, #path4493 {
	transition: all 1s ease-in-out;
	opacity:1;
}

svg:hover #rect4489 {
	transform: translatey(5px);
}

svg:hover #path4493 {
	/*transform: rotatey(90deg) translatex(20px);*/
	opacity:0;
	fill:#ccc;
	fill-opacity:0;
	stroke:#ccc;
	stroke-width:15px;
}

svg {

}

